

fastapi>=0.104.1
uvicorn>=0.24.0
python-multipart==0.0.6


sqlmodel==0.0.14
psycopg2-binary==2.9.9


paho-mqtt>=1.6.1




python-jose[cryptography]
passlib[bcrypt]


requests>=2.31.0
python-dotenv>=1.0.0
redis>=5.0.0
loguru>=0.7.2